/* USHG Wireframes CSS */

html {
  font-family: 'Helvetica-Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  width:auto;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 428px) 
  and (-webkit-min-device-pixel-ratio: 3) {

    /* CSS rules for all iPhone models from iPhone X to iPhone 13 Pro Max */
    /* html { font-size: 32px;} */
}

header { display: block;
  margin: 0;
  padding: 2.25em 2.25em 1em 2.25em;
}

h1 {
  display: inline;
  font-size: 70px;
  font-weight: 100;
  line-height: 90px;
}

h2 {
  font-size: 70px;
	font-weight: 200;
  line-height: 1.075em;
}

h3 {
  font-weight: 200;
  font-size: 2em;
}

h3.role {
  font-weight:400;
}

h2.speaker-name, h2.book-title {
  margin: 0.8em 0 0.3em 0;
}

h2.book-title {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #00bfff;
}

a:hover {
  background-color: #c3f0ff;
}

a:active {
  background-color: #febee0;
}

button {
  border: none;
  background-color:transparent;
}

/* #sitenav {
  display: none;
} */

.main-image {
  margin: 0;
  padding: 0;
  width: 100%;
}

#browsable {
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

#browsable li {
  padding-top: 1em;
}

#lede-clip {
  height: calc(488px*2);
  width: 100%;
  background-color: #EBEBEB;
  padding: 0;
  margin: 20px 0 0 0;
  display: block;
  background-image: url("images/play_button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(15%);
  position: relative;
}

#hamburger {
  background-image: url("images/hamburger.svg");
  background-repeat: no-repeat;
  width:80px;
  height: 65px;
  display: inline;
  float: right;
  margin: 12px 12px 0 0;
}

#hamburger:hover { 
  cursor:pointer;
}

#siteMenu {
  display: none;
  width: 100%;
  background-color: #c3c3c3;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  margin: 0;
}

#siteMenu ul { 
  padding: 0;
  list-style-type: none;
  text-align: center;
  font-size: 2.5em;
}

#siteMenu li { 
  padding: 30px 0 30px 0;
}

#siteMenu li:hover { 
  background-color: #00ffff;
}

p {
  font-size: 32px;
}

.stage-direction { 
  line-height: 24px;
	font-size: 24px;
	color: #ff1493;
}

.stage-direction.inset {
  position: absolute;
}

.stage-direction.inset.bottom {
  left: 0;
  bottom: 0;
  padding: 0 0 0 30px;
}

.main-container { 
  padding: 0 40px 0 40px;
  margin-bottom: 5em;
}

.section, .restaurant { 
  border-bottom: 4px dotted #cccccc;
	padding: 0 0 1em 0;
	margin: 2em 0 0 0;
}

.section.first {
  margin-top: 5em;
}

.restaurant {
  border-bottom: none;
  margin-bottom: 60px;
}

.restaurant h2, h2.section-header, .headshot h2 {
	margin: 50px 0 40px 0;
}

.image-placeholder {
  width: 100%;
  height: 800px;
}

.restaurant .image-placeholder {
  background-color: #00bfff;
}

.headshot .image-placeholder {
  background-color: #c2c2c2;
}

.closeX { 
  background-image: url("images/close-X.svg");
  background-repeat: no-repeat;
  background-size: 70px 70px;
  margin: 40px;
  position: absolute;
  display: block;
  width: 70px;
  height: 70px;
  right: 0;
  top: 0;
  z-index: 199;
}

.description {
  font-size: 48px;
	line-height: 56px;
	color: #4d4d4d;
	margin: 30px 0 50px 0;
}

ul.bodyText {
  font-size: 2.5em;
}

ul.bodyText li {
  margin-top: 1em;
}

p.pullQuote {
  font-size: 3.5em;
  line-height: 1.4em;
  text-align: center;
  padding: 0;
  margin: 0 0 0.375em 0;
}

p.quoteCredit {
  text-align: center;
  font-size: 2em;
  line-height: 1.2em;
  margin: 0 0 1.5em 0;
  padding: 0;
}

.button-1 {
  padding: 32px 52px;
  background-color: #00bfff;
  color: #ffffff;
  font-size: 38px;
  border-radius: 32px;
  margin: 50px 0 52px 0;
  text-align: center;
}

.button-1 a {
  text-decoration: none;
  color: #ffffff;
}

.flexContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start; /* aligns items at the top of the container*/
  height: auto;
  padding: 10px 0 50px 0;
}

.homePageCategory {
  flex: 1 1 0;
  height: auto;
  text-align: center;
}

.catName {
  font-size: 40px;
  margin: 20px 0 0 0;
}

.stats {
  text-align: center;
}

.stats h3 {
  font-size: 3em;
  padding: 0;
  margin: 0.275em 0 0.4em 0;
}

.stats h3.sub {
  margin-top: 2em;
}

.stats h4 {
  font-size: 1.25em;
  padding: 0;
  margin: 0;
  color: #777;
}

.stats h5 {
  font-size: 0.85em;
  padding: 0;
  margin: 0 0 0.5em 0;
}

img.catIcon {
  height: 100px;
}

.stats .pullQuote {
  margin: 2.5em 0;
}

#footer {
  height: 400px;
  background-color: #505050;
  margin: 0;
  width: 100%;
  position: static;
}

.section.last, .section.noLine {
  border-bottom: none;
}

#virtuous-cycle-illo {
  width: 100%;
  height: calc(488px*2);
  background-image: url(images/virtuous-cycle.png); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-subheader {
  font-size: 3em;
  margin: 60px 0 -10px 0;
}

.secondary-subhead {
  font-size: 2.25em;
  margin: 1em 0;
}

.logo-collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0 30px 0;
}

.logo-placeholder {
  width: 410px;
  height: 180px;
  background-color: #9c9c9c;
  margin: 20px 0 20px 0;
}

.link {
  color: #00bfff;
}

.logo-placeholder.link {
  background-color: #00bfff;
}

.timeline-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 50px 0 50px 0;
}

.timeline-caption {
  font-size: 42px;
  line-height: 48px;
  color: #505050;
  width: 33%;
}

.timeline-joiner {
  width: 33%;
  text-align: center;
  vertical-align: middle;
}

.timeline-row.reverse {
  flex-direction: row-reverse;
}

#timeline {
  background-image: url(images/1-px-square-black.png);
  background-repeat: repeat-y;
  background-position-x: center;
  background-position-y: 0;
  margin: 90px 0 0 0;
}



/* LIST SORTING STYLES */

#restSelect {
  background-image: url(images/search-icon.svg); /* Add a search icon to input */
  background-position-y: center;
  background-position-x: 0.375em;
  background-repeat: no-repeat; /* Do not repeat the icon image */
  background-size: 50px;
  width: 85%; /* Full-width */
  height: 1.5em;
  font-size: 3em; /* Increase font-size */
  padding: 12px 20px 12px 85px; /* Add some padding */
  border: 1px solid #bbb; /* Add a grey border */
  margin-bottom: 24px; /* Add some space below the input */
  background-color: #eee;
}

#RestaurantList {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#RestaurantList > li {
  margin: 1.5em 0 0 0;
  border-bottom: 2px dotted #9c9c9c;
}

/* #RestaurantList li a {  } */

#RestaurantList > li > div {
  margin: 0 0 0.5em 0;
}

#RestaurantList .restRoomDesc {
  padding-bottom: 2em;
}

#restaurantSorts {
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  font-size: 2.375em; 
  font-weight:bold; 
  margin: 1em 0 0 0; 
  border-bottom: 1px solid #bbb; 
  padding: 0 0 0.5em 0; 
  justify-content: space-between;
}

.restNameAndRooms {
  display: block; 
  font-size: 2.875em;
}

.neighborhoodAndCapacity {
  display:flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  font-size: 2.675em; 
  justify-content: space-between;
  color: #777;
}

.restRoomDesc {
  color: #aaa; 
  font-size: 1.25em; 
  font-style: italic;
}

.roomName {
  color: #aaa;
}

/* .neighborhood {  } */

/* .roomCapacity {  } */

/* .costPP {  } */

/* .restName {  } */


/* ======================= */


#ourPlaceYourPlace {
  text-align: center;
  margin-bottom: 5em;
}

/* #ourPlaceYourPlace p {  } */

#ourPlaceYourPlace .prompt {
  color: #999; font-size: 2em;
}

#ourPlaceYourPlace .question {
  font-size: 4em;
  padding-left: 1em;
  padding-right: 1em;
}

#ourPlaceYourPlace .option {
  font-size: 6em;
  margin: 0.5em 0 0 0;
  padding: 0;
}

#ourPlaceYourPlace .clarification {
  font-size: 1.75em; color: #5c5c5c;
  margin: 0.5em 0 0 0;
}

#ourPlaceYourPlace .joiner {
  font-size: 1.5em; font-weight: bold;
  margin: 3em 0 2.675em 0;
}

#footer .stage-direction {
  padding: 30px 0 0 30px;
}


/* Work with Us styles */

#jobCategories {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

#jobCategories > .button-1 {
  margin-right: 0.75em;
  margin-bottom: 0;
  padding: 1em;
}

#jobCategories > .button-1:last-child {
  margin-right: 0;
}


/* =============================== */
/* styles for calendar on Whats Happening page */

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica-Neue', Arial, Helvetica, sans-serif;
} */

.calendarWrapper{
  width: 100%;
  background: #fff;
}
.calendarWrapper #calendarHeader{
  display: flex;
  align-items: center;
  padding: 1.5em 1em 1em;
  justify-content: space-between;
}
#calendarHeader .icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
#calendarHeader .icons > div {
  /* height: 2em; */
  width: 2em;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  /* line-height: 38px; */
  font-size: 3rem;
  -webkit-user-select: none;
  user-select: none;
  /* border-radius: 50%; */
}
.icons span:last-child{
  margin-right: -10px;
}
#calendarHeader .icons span:hover{
  background: #f2f2f2;
}
#calendarHeader p.current-month {
  font-size: 3.5rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
.calendar {
  padding: 20px;
}
.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  padding: 0;
}
.calendar .days {
  margin-bottom: 20px;
}
.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 2.75rem;
}
.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  /* margin-top: 30px; */
  margin: 0.125em 0;
  padding: 0.5em 0;
}
.days li.inactive {
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 0;
  transform: translate(-50%, -50%);
}
.days li.active::before {
  background: #00bfff;
}
.days li:not(.active):hover::before {
  background: #f2f2f2;
}



/* styles for events listings on calendar page */

#eventsAgenda {  }

.eventsMonth {
  border-bottom: #333 solid 1px;
  padding: 2.5em 0 0 0;
}

.eventsMonth:first-child {
  padding: 0;
  margin: 0;
}

.eventsMonth:last-child, .eventListing:last-child {
  border-bottom: none;
}

.eventsMonth h3 {
  font-size: 3.5em;
  margin: 0 0 0.5em 0;
  color: #5c5c5c;
}

.eventListing {
  display: flex;
  flex-flow: row nowrap;
  text-align:start;
  justify-content: flex-start;
  padding: 0.5em 0 2.5em 0;
  margin: 1.5em 0 1.5em 0;
  border-bottom: #4d4d4d dotted 1px;
}


.eventDate {
  font-size: 8em;
  font-weight: 100;
  margin: 0 0.275em 0 0;
  padding: 0;
  line-height: 1em;
  color: #999;
}

.eventDetails {
  text-align: left;
}

h4.eventTitle {
  font-size: 3em;
  line-height: 1.2em;
  margin: 0;
  font-weight: 300;
}

p.eventDesc {
  margin: 0.5em 0 0 0;
  font-size: 2em;
}



/* news-related styles */

ul#newsTouts {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li.newsTout {
  display: flex;
  flex-flow: row nowrap;
  text-align: start;
  align-items: flex-start;
  border-bottom: #4d4d4d dotted 1px;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

li.newsTout:last-child {
  border-bottom: none;
  margin-bottom: none;
  padding-bottom: none;
}

.news-image-placeholder {
  flex: 0 0 180px;
  height: 180px;
  background-color: #878787;
  margin: 0 2em 0 0;
  padding: 0;
}

.newsItem {
  flex: 1 1 auto;
}

.newsItem h3 {
  font-size: 3em;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.newsItem p {
  font-size: 2em;
  padding: 0;
  margin: 0.5em 0 0 0;
}


/* ================================= */


.inline-video-clip {
  height: calc(390px*2);
  width: 100%;
  background-color: #EBEBEB;
  padding: 0;
  margin: 20px 0 0 0;
  display: block;
  background-image: url("images/play_button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(15%);
  position: relative;
}

/* ================================= */

#bio p {
  font-size: 2em;
  line-height: 1.6em;
}

.text-reveal {
  display: none;
}

#bio p.reveal-text, #bio p.hide-text {
  font-size: 1.5em;
  font-weight: bold;
  color: #00bfff;
  text-transform: uppercase;
}

.promo-box {
  background-color: #396b8c;
  display: flex;
  flex-flow: row nowrap;
  padding: 2em;
  margin: 2em 0 1em 0;
  color: #fff;
}

.promo-box img {
  width: 200px;
  margin: 0 2em 0 0;
}

.promo-box h4 {
  font-size: 3em;
  padding: 0;
  margin: 0;
}

.promo-box h5 {
  font-size: 2em;
  padding: 0;
  margin: 0 0 1em 0;
}



.speaker-topic-bullets {
  font-size: 2em;
  margin: 0;
  padding: 0 0 0 1.2em;
}

.speaker-topic-bullets li {
  list-style-type: disc;
  padding: 0.25em 0 0 0.375em;
}

#faq {
  margin-bottom: 3em;
}

#faq p {
  margin: 0.5em 0;
}

#faq p.faq-question {
  font-weight: bold;
  margin: 2em 0 0.75em 0;
}

ul#books {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

#books li {
  margin: 1em 0 2em 0;
  border-bottom: #999 dotted 1px;
}

li.book img {
  width: 100%;
}